.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}
#right_pagination{
	text-align: right;
}
.pagination>.active>a{
	background-color: #31af12 !important;
    border-color: #31af12 !important;
}